<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>
</head>
<body>
        <div id="all">
                <div class="card" style="width: 20rem;">
                    <div class="card-block">
                        <h1 class="card-title">Success!</h1>
                        <p class="card-text">Thanks for choosing Foodway. Your order will be on its way!</p>
                        <a href="{% url 'dashboard' %}" class="btn btn-info">Dashboard</a>
                    </div>
                </div>
            </div>
</body>
</html>